.monaco-editor .ghost-text-decoration {
  font-style: italic;
}

.monaco-editor .ghost-text {
  font-style: italic;
}

.codeium-ghost {
  font-style: italic;
  color: #888888;
}

/* Deepnote */

*[class*='-ghost-text-'] {
  font-style: italic;
}

.monaco-editor .suggest-preview-text .mtk1 {
  font-style: italic;
}
